html,
body {
  width: 100%;
  min-height: 100vh;
  // height: 100%;
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  background: $color-bg;
  color: $color-fg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#app {
  width: 100%;
  max-width: 1920px;
}
